

header{

	position: absolute;
	width: 1146px;
	height: 68px;
	left: 220px;
	top: 0px;
	background: #FDF1EB; /*att lá acho q fica em outro lugar*/

}

#teste
{
	position: absolute;
	width: 391px;
	height: 16px;
	left: 36px;
	margin-top: 5px;


	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height */


	color: green;
}



header h1{
	/* Anais do 13º Simpósio Latino Americano de Ciência de Alimentos */


	position: absolute;
	width: 643px;
	height: 26px;
	left: 36px;
	margin-top: 23px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	/* identical to box height */


	color: #725C5C;

}

header h2{
	/* Anais do Simpósio Latino Americano de Ciências de Alimentos */


	position: absolute;
	width: 391px;
	height: 16px;
	left: 36px;
	margin-top: 5px;


	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: #725C5C;
}

header h3{
	/* ISSN: 1234-5678 */


	position: absolute;
	width: 105px;
	height: 16px;
	left: 36px;
	margin-top: 48px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: #725C5C;
}
#language{
	box-sizing: border-box;

	position: absolute;
	width: 97px;
	height: 34px;
	left: 789px;
	top: 17px;
	text-align: center;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}
#text
{
	/* PT, BR */

	float: center;
	width: 42px;
	height: 18px;
	left: 820px;
	top: 25px;
	margin: 7px 26px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

	/* identical to box height */
}
#img1{
	/* language image */
	float: left;
	width: 22px;
	height: 21px;
	left: 798px;
	top: 22px;
	margin-top: 5px;

}
#img2{
	/* dropdown */
	float: right;
	width: 6px;
	height: 4px;
	left: 867px;
	top: 33px;
	margin-top: -15px;
	margin-right: 5px;
}
/* ve pq a img está esquisita e n mexe centralizar*/
#left{
	float: right;
	margin-right: 150px;
width: 72px;
height: 18px;
left: 999px;
top: 17px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */
color: #333333;
}
#perfil{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	border-radius: 100px;
}
aside{
position: absolute;
height: 2000px;
width: 220px;
top: 0;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
border-right: 1px solid #f3f3f3;
background-attachment: fixed;
}
aside #slaca{
	background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);

}



/* Formatar menus laterais
*/
aside #lateral ul a {
	font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px;
		text-align: left;
padding-left: 5px;
	display: block;
	line-height: 30px;
	color: #725C5C;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

aside #lateral ul a:hover {
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	color: #a1a1a1;

}
a#trabalho

{
	
	background: #FDF1EB url(../imagens/rectangle1.png) no-repeat;
}
article{
	position: absolute;
width: 1059px;
height: 1382px;
left: 263px;
top: 88px;
}
article h1{
	position: absolute;
height: 54px;
left: 0px;
right: 273px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
/* or 125% */

letter-spacing: 0.05em;

color: #ED7839;
}

#download{
	margin-left: 830px;
	margin-top: 20px;
	top: 100px;
	width: 120px;
	height: 31px;
	background: #ED7839;
	color: white;
	border-radius: 10px; 

}
#download img{
	padding: 1px;
	border-radius: 10px; 
}
#download a{
	text-decoration: none;
	color: white;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

}
#estrela{
	margin-left: 960px;
	margin-top: -30px;
	top: 100px;
	width: 43px;
	height: 31px;
	background: #ED7839;
	color: white;
	border-radius: 10px; 
	align-items: center;

}
#estrela img{
	
	padding: 1px;
	border-radius: 10px; 
}
#doi{
	margin-left: 1010px;
	margin-top: -30px;
	top: 100px;
	width: 43px;
	height: 31px;
	background: #ED7839;
	color: white;
	border-radius: 10px; 
	align-items: center;

}
#doi img{
	
	padding: 8px;
	border-radius: 10px; 
}
article h2{
	position: absolute;
height: 25px;
left: 820px;
right: 0px;
top: 43px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 25px;
/* identical to box height, or 179% */

text-align: right;
letter-spacing: 0.05em;

color: #ED7839;

}
article #postagem
{
	position: absolute;
width: 783px;
height: 439px;
left: 2px;
top: 73px;
background: url(../imagens/dewey1.png) rgba(141, 53, 6, 0.5); 
border-radius: 3px;
border: 1px solid #ECECEC;

/*ver como mudar cor da img*/
}
#titulo{
	
	height: 54px;
	width: 734;
	left: 34px;
	right: 291px;
	top: 25px;
	padding: 35px 17px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 25px;
	/* or 104% */

	letter-spacing: 0.05em;

	color: #FFFFFF;
}
#post2{
	
	height: 54px;
	width: 1234;
	left: 34px;
	right: 291px;
	margin-top: 50px;
	padding: 100px 17px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 25px;
	/* or 104% */
	letter-spacing: 0.05em;

	color: #FFFFFF;
}
#imagem1{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	border: 1px solid #ED7839;
}
#textb{
	height: 36px;
	left: 134px;
	right: 473px;
	margin-top:-80px;
	margin-left: 110px;
}
section{
	position: absolute;
width: 242px;
height: 45px;
left: 1090px;
top: 173px;

background: #FDF1EB;
border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;


}
#detalhes{
	margin-top: 10px;
	margin-left: 10px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #4E4E4E;

}
#box{
width: 242px;
height: 364px;
left: 831px;
top: 133px;
margin-top: 10px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* or 14px */

letter-spacing: 0.02em;

color: #5C5C5C;
border: 1px solid #ECECEC;
border-radius: 3px;

}
#fontes{
	color: gray;

}
#barra{

width: 3px;
height: 340px;
left: 149px;
top: 28px;
margin-left: 230px;
margin-top: -330px;
margin-bottom: 0px;
background: 
border-radius: 5px;

background: #E7E7E7;
}
#resumo{
	width: 1058px;
height: 45px;
left: 265px;
top: 642px;

background: #FDF1EB;
border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #4E4E4E;

}
#resumo #texto{
	margin: 10px;

}
#lorem{
	width: 1058px;
height: 122px;
left: 265px;
top: 642px;
	border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;


}
.textt{
	text-decoration: none;
	font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
color: #5C5C5C;
}
#lorem #texto, #lorem #texto a{
	margin: 10px;
}
#orange{
	color: orange;
	text-align: right;
	margin-top: -30px;

	text-decoration: none;
}
#lorem2{
	width: 1058px;
height: 610px;
left: 265px;
top: 642px;
	border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
}
p
{
	position: absolute;
left: 30.64%;
right: 29.51%;
top: 250px;
bottom: 39%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;

color: #ED7839;

}
#icones{
	margin-left: 360px;
}
#pos2{
	left: 20.44%;
right: 20.44%;
top: 400px;
bottom: 28.15%;

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #595959;
}
#fundo
{
	background: url(../imagens/divisória.png) no-repeat;

	margin-left: 15px;: 
}
#criar{
	margin-left: 450px;
	margin-top: -50px;
	background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
border-radius: 4px;
text-decoration: none;
color: white;
padding: 5px;
}
#resu2{
	width: 1058px;
height: 145px;
left: 265px;
top: 642px;

background: white;
border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #ED7839;

}
#name{
	font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #5C5C5C;
}
#feed{
	font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;
}
#texto #like{
	margin-top: -30px;
	margin-left: 40px;
	margin-right: 5px;
	padding: 5px;
	font-family: 'Segoe UI';
font-style: normal;
font-weight: 350;
font-size: 14px;
/* identical to box height */


color: #757575;
}
footer{
	position: absolute;
left: 280px;
top: 1550px;
width: 1086px;
height: 181px;
background: url(../imagens/footer.png);
}
#lorem3{
width: 1058px;
height: 610px;
left: 265px;
top: 642px;
		border: 1px solid #ECECEC;
}
#lorem3 p{
	font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #5C5C5C;
}
#assunto{
margin-top:20px;
padding: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #ED7839;
}
#borda{
	box-sizing: border-box;

left: -0.47px;
right: -0.05px;
top: 60px;
bottom: 146px;
margin-left: 15px;
margin-right: 15px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 3px;
}
#defina{
	font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */
margin-left: 15px;

color: #4D4D4D;
}
#borda2{
width: 1025.5px;
height: 31px;
margin-left: 15px;
background: url(../imagens/Rectangle3.1.png);
}
#shape{
	padding: 10px;
}
#retang{
	width: 205.1px;
	height: 31px;
	margin-top: -36px;
    background: url(../imagens/Rectangle.png);
	float: right;
	text-align: center;
	color: white;
	text-decoration: none;
}
#assunto2{
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
padding: 15px;
color: #ED7839
}
#descubra{
	font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 137.5%;
/* identical to box height, or 19px */

text-align: center;
text-decoration-line: underline;

color: #F48F44
}
#p2
{

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: center;

}
#resumo2{
	width: 1058px;
height: 45px;
left: 265px;
top: 642px;

background: #FDF1EB;
border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #4E4E4E;

}
#lorem4{
width: 1058px;
height: 670px;
left: 265px;
top: 642px;
		border: 1px solid #ECECEC;
}
#resu3{
	width: 1058px;
height: 145px;
left: 265px;
top: 642px;

background: white;
border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #ED7839;

}
#resu3 #imagem{
	opacity: 0.9;
	margin-top: -125px;
	margin-left: -10px;
}
.classe{
	opacity: 0.8;
}
#aguarde{
	font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #707070;
}
#editar{
	font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-decoration-line: underline;

color: #ED7839;
}

#divi{
	position: absolute;
	margin-top: -120px; 
	margin-left: 420px;
	text-align: center;
	
}
#lorem7{
	
	width: 1058px;
height: 45px;
left: 265px;
top: 642px;

background: #FDF1EB;
border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #4E4E4E;
}
#lorem7{
	width: 1058px;
height: 352px;
left: 265px;
top: 1042px;
	border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
background: white;
}
#lorem7 #texto, #lorem7 #texto a{
	margin: 10px;
}
#lorem7 p{
	margin-top: 250px;
}
#rodape{
	margin-top: 200px;
}
#rodape1{
	margin-top: 100px;
}
